<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="P2-updates"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://P2-updates/p2updates.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/P2-updates/css/default.css">
         </property>
         <property
               name="appName"
               value="P2-updates">
         </property>
      </product>
   </extension>

</plugin>
